/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define QWERTY  1
#define RAISE   2
#define LOWER   3
#define NUM   4
#define FUNC    5


/ {

behaviors {

    mmc: morph_c {
        compatible = "zmk,behavior-mod-morph";
        label = "morph_c";
        #binding-cells = <0>;
        bindings = <&kp C>, <&kp I>;
        mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_LALT|MOD_RALT)>;
        keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTL|MOD_LALT|MOD_RALT)>;
      };
      };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
            bindings = <
    &mmc   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
    &kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
    &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &mo 1    &kp LSHFT  &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                     &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    qwerty {
      // ---------------------------------------------------------------------------------------------------------------------------------
      // |  ESC      |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
      // |  TAB      |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
      // | SHIFT     |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
      //                   | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
      bindings = <
        &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
        &kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
        &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
        &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
        >;
      sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
    };

    raise {
      // ---------------------------------------------------------------------------------------------------------------------------------
      // |     |  \  |  ^  |  !   |  &   |  |   |                                          |  @   |  =    |  +    |  *   |   %   |   -  |
      // | (   |  #  |  $  |  "   |  '   |  ~   |                                          |  ←   |  ↓  |  ↑   |  →   |  `  |   )  |
      // |     |     |     |      | {    |  [   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  ]   |  }    |  ,    |  .   |   /   | CTRL |
      //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
      bindings = <
        &kp ESC   &kp BSLH &kp CARET &kp EXCL &kp AMPS &kp PIPE                             &kp AT &kp EQUAL &kp PLUS &kp ASTRK &kp PRCNT &kp MINUS
        &kp LPAR   &kp HASH    &kp DLLR     &kp DQT    &kp SQT    &kp TILDE          &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT    &kp GRAVE  &kp RPAR
        &kp LSHFT &kp Z &kp X &kp C &kp LBRC &kp LBKT &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp RBKT &kp RBRC  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
        &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT
        >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };




    };
};

